body{
  background-color: #AFEEEE;
}

.center{
  display:table;
  margin:auto;
  font-family: Arial, sans-serif;
}

.btn-primary{
  margin-top: 25px;
  margin-bottom: 25px;
}

.header{
  font-weight: bold;
  color: #204d74;
}

.container{
  height: 650px;
  width: 650px;
  overflow: hidden;
}

.box{
  float:left;
  display:block;
  background-color: #AFEEEE;
  border-color: #66A7A7;
  border-style: solid;
  border-width: 0.5px;
}
